﻿<div class="row" ng-controller="loginController" ng-model="request">
    <h1>Login Form</h1>
    <form method="post">
        <div class="col-md-6">
            <p>
                <label>Input Email:</label>
                <input type="text" class="form-control" ng-model="request.Email" required />
            </p>
            <p>
                <label>Input Password:</label>
                <input type="password" class="form-control" ng-model="request.Password" required />
            </p>
            <p>
                <label>Remember Me</label>
                <input type="checkbox" ng-model="request.RememberMe" />
            </p>
            <p>
                <button type="submit" class="btn btn-primary" ng-click="loginUser(request)">Login</button>
            </p>
        </div>
    </form>
</div>