﻿@section Scripts {
    <environment names="Development">
        <script src="~/js/controllers/RegisterClientController.js"></script>
        <script src="~/js/Services/registerClientService.js"></script>
    </environment>
}
<div class="row" ng-controller="registerClientController" ng-model="client">
    <h1>Client Register Form</h1>
    <form method="post">
        <div class="col-md-6">
            <p>
                <label>Input Email:</label>
                <input type="text" ng-model="client.Email" required />
            </p>
            <p>
                <label>Input Password:</label>
                <input type="text" ng-model="client.Password" required />
            </p>
            <p>
                <label>Confirm password:</label>
                <input type="text" ng-model="client.ConfirmPassword" required />
            </p>
        </div>
        <div class="col-md-6">
            <p>
                <label>Input Name:</label>
                <input type="text" ng-model="client.Name" required />
            </p>
            <p>
                <label>Input Surname:</label>
                <input type="text" ng-model="client.Surname" required />
            </p>
            <p>
                <label>Input Phone Number:</label>
                <input type="text" ng-model="client.PhoneNumber" required />
            </p>
            <p>
                <input type="submit" value="Register Client" ng-click="createClientData(client)" />
            </p>
        </div>
    </form>
</div>