﻿@using Microsoft.AspNetCore.Identity
@using Gillie.PawnShop.Authorization.Entities.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@section Scripts{
    <environment names="Development">
        <script src="~/js/controllers/reviewController.js"></script>
        <script src="~/js/services/reviewService.js"></script>
    </environment>
}
@section Styles
{
    <style>
        .thisFormButton {
            margin-bottom: 20px ;
            margin-top:20px;
        }
    </style>
}

<div class="row">
    <div ng-controller="reviewController" ng-init="getPublishedReviews()">
        <h1>Feedback</h1>
        <table class="table table-hover " ng-repeat="review in reviews">
            <tr>
                <td>
                    <h4>{{review.name}} {{review.surname}}</h4>
                    <h5 ng-bind="review.reviewDate | date:'MM/dd/yyyy'"></h5>
                    {{review.description}}
                </td>
            </tr>
        </table>
        @if (SignInManager.IsSignedIn(User))
        {
            <form>
                <div>
                    <button ng-click="addReviewDiv=true" class="btn btn-primary thisFormButton">Add Feedback</button>
                </div>
                <div ng-show="addReviewDiv">
                    <div>
                        <label for="description">Input Your Feedback</label>
                        <textarea name="textArea1" rows="4" cols="10" id="description" class="form-control"
                                  data-ng-model="description"></textarea>
                    </div>
                    <div>
                        <button data-ng-click="saveReviewInfo()" class="btn btn-primary btn-sm thisFormButton">Save</button>
                        <button data-ng-click="clearForm()" class="btn btn-primary  btn-sm thisFormButton">Cancel</button>
                    </div>
                </div>
            </form>
        }
    </div>
</div>
