﻿@using Microsoft.AspNetCore.Identity
@using Gillie.PawnShop.Authorization.Entities.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form ng-controller="loginController" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            @if (User.IsInRole("Admin"))
            {
                <li>
                    <a asp-area="" asp-controller="Admin" asp-action="Index">Vivat Admin!</a>
                </li>
            }
            else if (User.IsInRole("Employee"))
            {
                <li>
                    <a asp-area="" asp-controller="Employee" asp-action="Index">Hello @UserManager.GetUserName(User)!</a>
                </li>
            }
            else
            {
                <li>
                    <a asp-area="" asp-controller="Client" asp-action="Index">Hello @UserManager.GetUserName(User)!</a>
                </li>
            }
            <li>
                <button type="submit" ng-click="logOut()" class="btn btn-link navbar-btn navbar-link">Log out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Login" asp-action="Index">Log in</a></li>
    </ul>
}