﻿@section Scripts{
    <environment names="Development">
        <script src="~/js/controllers/adminController.js"></script>
        <script src="~/js/services/adminService.js"></script>
        <script src="~/js/directives/ngReallyDirective.js"></script>
        <script src="~/js/controllers/branchcrudController.js"></script>
        <script src="~/js/services/branchcrudService.js"></script>
        <script src="~/js/controllers/reviewController.js"></script>
        <script src="~/js/services/reviewService.js"></script>
    </environment>
}
@section Styles
{
    <style>
        form {
            width: 300px;
        }

        button {
            margin: 10px auto;
        }

        .thiscontainer {
            margin-top: 60px;
        }

        .clientReview {
            margin-right: 10px;
        }

        .subheader {
            font-size: larger;
        }

        .publishIt {
            background-color: lightcyan;
        }

        .heightStatus {
            height: 400px;
        }
    </style>
}

<div class="container thiscontainer">
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#records" role="tab" data-toggle="tab">Records</a></li>
        <li><a href="#branches" role="tab" data-toggle="tab">Branches</a></li>
        <li><a href="#reviews" role="tab" data-toggle="tab">Reviews</a></li>
        <li><a href="#employee" role="tab" data-toggle="tab">Employee</a></li>
        <li><a href="#reports" role="tab" data-toggle="tab">Reports</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="records">
            <div class="row">
                <div ng-controller="adminController" ng-init="getRecords();">
                    <form>
                        <div ng-show="updateDiv">
                            <div hidden="hidden">
                                <label>Id</label>
                                <input type="text" data-ng-model="historyRecord.HistoryRecordId" />
                            </div>
                            <div>
                                <label for="recordType">Record Type</label>
                                <input type="text" id="recordType" class="form-control" data-ng-model="historyRecord.HistoryRecordTypeId" />
                            </div>
                            <div>
                                <label for="company">Company Id</label>
                                <input type="text" id="company" class="form-control" data-ng-model="historyRecord.CompanyId" />
                            </div>
                            <div>
                                <label for="date">Date</label>
                                <input type="text" id="date" class="form-control" data-ng-model="historyRecord.HistoryRecordDate" />
                            </div>
                            <div>
                                <label for="name">Name</label>
                                <input type="text" id="name" class="form-control" data-ng-model="historyRecord.Name" />
                            </div>
                            <div>
                                <label for="description">Description</label>
                                <input type="text" id="description" class="form-control" data-ng-model="historyRecord.Description" />
                            </div>
                            <div>
                                <button data-ng-click="updateRecordInfo()" class="pure-button pure-button-primary">Update</button>
                                <button data-ng-click="clearForm()" class="pure-button pure-button-primary">Cancel</button>
                            </div>
                        </div>
                    </form>

                    <form>
                        <div>
                            <button ng-click="addNewDiv=true" class="pure-button pure-button-primary">Add New Record</button>
                        </div>
                        <div ng-show="addNewDiv">
                            <div>
                                <label for="recordTypeId">Record Type</label>
                                <input type="text" id="recordTypeId" class="form-control" data-ng-model="historyRecord.HistoryRecordTypeId" />
                            </div>
                            <div>
                                <label for="companyid">Company Id</label>
                                <input type="text" id="companyid" class="form-control" data-ng-model="historyRecord.CompanyId" />
                            </div>
                            <div>
                                <label for="historyRecordDate">Date</label>
                                <input type="text" id="historyRecordDate" class="form-control" data-ng-model="historyRecord.HistoryRecordDate" />
                            </div>
                            <div>
                                <label for="nameadd">Name</label>
                                <input type="text" id="nameadd" class="form-control" data-ng-model="historyRecord.Name" />
                            </div>
                            <div>
                                <label for="descriptionadd">Description</label>
                                <input type="text" id="descriptionadd" class="form-control" data-ng-model="historyRecord.Description" />
                            </div>
                            <div>
                                <button data-ng-click="saveRecordInfo()" class="pure-button pure-button-primary">Save</button>
                                <button data-ng-click="clearForm()" class="pure-button pure-button-primary">Cancel</button>
                            </div>
                        </div>
                    </form>

                    <h3>All Records</h3>
                    <div ng-repeat="record in records">
                        <div class="col-md-6">
                            <p style="display: none">
                                {{record.historyRecordId}} ID to hide
                            </p>
                            <p> Title:{{record.name}} </p>
                            <p ng-bind="record.historyRecordDate | date:'MM/dd/yyyy'"></p>
                            <p>Description:{{record.description}}</p>
                            <button ng-model="$scope.historyRecord" class="btn btn-primary" ng-click="editRecordInfo(records[$index])">Edit</button>
                            <button class="btn btn-primary" ng-really ng-really-message="Really want to delete record: {{record.name}} {{record.historyRecordDate}}?" ng-really-click="deleteRecord(record.historyRecordId)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="branches">
            <div class="row">
                <div ng-controller="branchcrudController" ng-init="getBranches()">
                    <form>
                        <div ng-show="updateBranchDiv">
                            <div hidden="hidden">
                                <label>Id</label>
                                <input type="text" data-ng-model="branch.BranchId" />
                            </div>
                            <div>
                                <label for="branchTypeUpd">Branch Type</label>
                                <input type="text" id="branchTypeUpd" class="form-control" data-ng-model="branch.BranchType" />
                            </div>
                            <div>
                                <label for="companybrupd">Company Id</label>
                                <input type="text" id="companybrupd" class="form-control" data-ng-model="branch.CompanyId" />
                            </div>
                            <div>
                                <label for="phoneUpd">Phone Number</label>
                                <input type="text" id="phoneUpd" class="form-control" data-ng-model="branch.PhoneNumber" />
                            </div>
                            <div>
                                <label for="namebrUpd">Name</label>
                                <input type="text" id="namebrUpd" class="form-control" data-ng-model="branch.Name" />
                            </div>
                            <div>
                                <button data-ng-click="updateBranchInfo()" class="pure-button pure-button-primary">Update</button>
                                <button data-ng-click="clearForm()" class="pure-button pure-button-primary">Cancel</button>
                            </div>
                        </div>
                    </form>
                    <form>
                        <div>
                            <button ng-click="addBranchDiv=true" class="pure-button pure-button-primary">Add New Branch</button>
                        </div>
                        <div ng-show="addBranchDiv">
                            <div>
                                <label for="branchType">Branch Type</label>
                                <input type="text" id="branchType" class="form-control" data-ng-model="branch.BranchType" />
                            </div>
                            <div>
                                <label for="companybr">Company Id</label>
                                <input type="text" id="companybr" class="form-control" data-ng-model="branch.CompanyId" />
                            </div>
                            <div>
                                <label for="phone">Phone Number</label>
                                <input type="text" id="phone" class="form-control" data-ng-model="branch.PhoneNumber" />
                            </div>
                            <div>
                                <label for="namebr">Name</label>
                                <input type="text" id="namebr" class="form-control" data-ng-model="branch.Name" />
                            </div>
                            <div>
                                <button data-ng-click="saveBranchInfo()" class="pure-button pure-button-primary">Save</button>
                                <button data-ng-click="clearForm()" class="pure-button pure-button-primary">Cancel</button>
                            </div>
                        </div>
                    </form>
                    <h3>All Branches</h3>
                    <div ng-repeat="currentBranch in branches">
                        <div class="col-md-6">
                            <p style="display: none">
                                {{currentBranch.branchId}} ID to hide
                            </p>
                            <p>
                                Phone Number: {{currentBranch.phoneNumber}}
                            </p>
                            <p> Name:{{currentBranch.name}} </p>
                            <button ng-model="$scope.currentBranch" class="btn btn-primary" ng-click="editBranchInfo(branches[$index])">Edit</button>
                            <button class="btn btn-primary" ng-really ng-really-message="Really want to delete branch: {{currentBranch.name}} {{currentBranch.phoneNumber}}?" ng-really-click="deleteBranch(currentBranch.branchId)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="reviews">
            <div class="row">
                <div ng-controller="reviewController" ng-init="getAdminReviews()">
                    <table class="table table-hover publishIt" ng-repeat="review in reviews">
                        <tr>
                            <td>
                                <p class="subheader">
                                    <span class="clientReview">{{review.name}} {{review.surname}}</span>
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    <span class="clientReview" ng-bind="review.reviewDate | date:'MM/dd/yyyy'"></span>
                                    <span class="glyphicon glyphicon-envelope"></span>
                                    <span class="clientReview">{{review.email}}</span>
                                    <span class="glyphicon glyphicon-earphone"></span>
                                    <span class="clientReview">{{review.phoneNumber}}</span>
                                </p>
                                <p>{{review.description}}</p>
                                <p ng-if='!review.publish'>
                                    <button class="btn btn-primary btn-xs" ng-click="publishReview(review.companyReviewId)">Publish</button>
                                    <button class="btn btn-primary btn-xs" ng-really ng-really-message="Really want to delete record: {{review.name}} {{review.email}} ?"
                                            ng-really-click="deleteReview(review.companyReviewId)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </p>
                                <p ng-if='review.publish'>
                                    <button class="btn btn-default btn-xs" ng-really ng-really-message="Really want to delete record: {{review.name}} {{review.email}} ?"
                                            ng-really-click="deleteReview(review.companyReviewId)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </p>

                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="employee" ng-controller="adminController" ng-init="getEmployees()">
            <div class="row">
                <div>
                    <table class="table table-hover publishEmployee" ng-repeat="employee in employees">
                        <tr>
                            <td>
                                <p class="subheader">
                                    <span class="employeeReview">{{employee.name}} {{employee.surname}}</span>
                                    <span class="employeeReview">{{employee.email}}</span>
                                    <span class="employeeReview">{{employee.phoneNumber}}</span>
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="reports" ng-controller="adminController">
            <div class="row">
                <p></p>
                <p>There you can create reports</p>
                <p>
                    <div class="col-xs-6 col-sm-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Client Reports</div>
                            <div class="panel-body">
                                <button type="submit" class="btn btn-primary center-block" ng-click="createClientsReport()">Clients report</button>
                                <button type="submit" class="btn btn-primary center-block" ng-click="clientInfo.input=true">Client and contracts report</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <div class="panel panel-success">
                            <div class="panel-heading">Employee Reports</div>
                            <div class="panel-body">
                                <button type="submit" class="btn btn-success center-block" ng-click="createEmployeesReport()">Employees report</button>
                                <button type="submit" class="btn btn-success center-block" ng-click="employeeInfo.input=true">Employee profit by day report</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">Pawn Items Reports</div>
                            <div class="panel-body">
                                <button type="submit" class="btn btn-info center-block" ng-click="createPawnItemOnStockReport()">Pawn Items In Stock</button>
                            </div>
                        </div>
                    </div>
                </p>
                <div class="row" id="clientForm">
                    <form>
                        <div ng-show="clientInfo.input" ng-model="clientInfo">
                            <div>
                                <label for="clientEmail">Client Email</label>
                                <input type="text" id="clientEmail" ng-model="clientInfo.email" class="form-control" required />
                            </div>
                            <div>
                                <button data-ng-click="createClientContractsReport()" class="btn btn-default">Input</button>
                                <button data-ng-click="clearClientInfo()" class="btn btn-default">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row" id="employeeForm">
                    <form>
                        <div ng-show="employeeInfo.input" ng-model="employeeInfo">
                            <div>
                                <label for="employeeEmail">Employee Email</label>
                                <input type="text" id="employeeEmail" ng-model="employeeInfo.email" class="form-control" required />
                            </div>
                            <div>
                                <label for="firstDate">First Date</label>
                                <input type="date" id="firstDate" ng-model="employeeInfo.firstDate" name="input" placeholder="yyyy-MM-dd" class="form-control" required />
                            </div>
                            <div>
                                <label for="lastDate">Last Date</label>
                                <input type="date" id="lastDate" ng-model="employeeInfo.lastDate" name="input" placeholder="yyyy-MM-dd" class="form-control" required />
                            </div>
                            <div>
                                <button data-ng-click="createEmployeeProfitReport()" class="btn btn-default">Input</button>
                                <button data-ng-click="clearEmployeeInfo()" class="btn btn-default">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>