﻿@section Scripts{
    <environment names="Development">
        <script src="~/js/controllers/employeeController.js"></script>
        <script src="~/js/services/employeeService.js"></script>
        <script src="~/js/controllers/itemController.js"></script>
        <script src="~/js/services/itemService.js"></script>
    </environment>
}
@section Styles
{
    <style>
        .wrapper {
            margin-top: 60px;
        }

        button {
            margin: 10px auto;
        }

        .glyphicon {
            margin-left: 20px;
            margin-right: 10px;
        }

        .clientinfo {
            margin-top: 20px;
        }

        .clientbutton {
            margin: 0px auto;
        }

        .notfound {
            margin-top: 20px;
            color: crimson;
        }

        .editbutton {
            margin-left: 20px;
        }
    </style>
}
<div class="row wrapper">
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
        <ul class="nav nav-pills nav-stacked">
            <li><a data-toggle="pill" href="#Client" class="active" role="tab">Clients</a></li>
            <li><a data-toggle="pill" href="#Additional">Additional</a></li>
            <li><a data-toggle="pill" href="#SoldItems">Items For Sale</a></li>
            <li><a data-toggle="pill" href="#Report">Reports</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div id="Client" class="tab-pane fade in active">
            <div class="col-lg-7 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-12">
                <div>
                    <div ng-controller="employeeController" ng-model="email">
                        <form>
                            <div class="input-group col-md-10">
                                <span class="input-group-addon" id="basic-addon1">@@</span>
                                <input type="text" id="email" class="form-control" placeholder="Client Email" aria-describedby="basic-addon1" data-ng-model="email" />
                                <span class="input-group-btn buttonspan">
                                    <button data-ng-click="getClient(email)" class="btn btn-primary clientbutton">Get Client Info</button>
                                </span>
                            </div>
                        </form>
                        <div class="col-md-10 clientinfo" ng-show="findClientDiv">
                            <span style="display: none">
                                {{client.clientId}} ID to hide
                            </span>
                            <span>
                                {{client.name}}
                            </span>
                            <span>
                                {{client.surname}}
                            </span>
                            <span> <span class="glyphicon glyphicon-envelope"></span>{{client.email}} </span>
                            <span><span class="glyphicon glyphicon-phone-alt"></span>{{client.phoneNumber}}</span>
                            <span>
                                <button ng-model="$scope.newClient" class="btn btn-primary btn-sm editbutton" ng-click="editForm(client)">Edit</button>
                            </span>
                        </div>
                        <div ng-show="notFoundDiv" class="notfound"> Client not found</div>
                        <form>
                            <div>
                                <button ng-click="addClientDiv=true" class="pure-button pure-button-primary">Add New Client</button>
                            </div>
                            <div ng-show="addClientDiv">
                                <div>
                                    <div>
                                        <label for="name">Name</label>
                                        <input type="text" id="name" class="form-control" data-ng-model="registerRequest.name" />
                                    </div>
                                    <div>
                                        <label for="surname">Surname</label>
                                        <input type="text" id="surname" class="form-control" data-ng-model="registerRequest.surname" />
                                    </div>
                                    <div>
                                        <label for="email">Email</label>
                                        <input type="text" id="email" class="form-control" data-ng-model="registerRequest.email" />
                                    </div>
                                    <div>
                                        <label for="phone">Phone</label>
                                        <input type="text" id="phone" class="form-control" data-ng-model="registerRequest.phoneNumber" />
                                    </div>
                                    <div>
                                        <label for="name">Password</label>
                                        <input type="password" id="name" class="form-control" data-ng-model="registerRequest.password" />
                                    </div>
                                    <div>
                                        <label for="surname">Confirm Password</label>
                                        <input type="password" id="surname" class="form-control" data-ng-model="registerRequest.confirmPassword" />
                                    </div>
                                    <div>
                                        <button data-ng-click="createClient()" class="pure-button pure-button-primary">Create</button>
                                        <button data-ng-click="clearForm()" class="pure-button pure-button-primary">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form>
                            <div ng-show="updateClientDiv">
                                <div hidden="hidden">
                                    <label>Id</label>
                                    <input type="text" data-ng-model="newClient.ClientId" />
                                </div>
                                <div>
                                    <label for="updatename">Name</label>
                                    <input type="text" id="updatename" class="form-control" data-ng-model="newClient.Name" />
                                </div>
                                <div>
                                    <label for="company">Surname</label>
                                    <input type="text" id="company" class="form-control" data-ng-model="newClient.Surname" />
                                </div>
                                <div>
                                    <label for="date">Email</label>
                                    <input type="text" id="date" class="form-control" data-ng-model="newClient.Email" />
                                </div>
                                <div>
                                    <label for="updatephone">Phone</label>
                                    <input type="text" id="updatephone" class="form-control" data-ng-model="newClient.PhoneNumber" />
                                </div>
                                <div>
                                    <button data-ng-click="updateClient()" class="pure-button pure-button-primary">Create</button>
                                    <button data-ng-click="clearForm()" class="pure-button pure-button-primary">Cancel</button>
                                </div>
                            </div>
                        </form>
                        <div>
                            <h3>Contracts</h3>
                        </div>
                        <div ng-if='findClientDiv'>
                            <div>
                                <button ng-click="showNewContractForm()" class="pure-button pure-button-primary">Add Contract for this Client</button>
                            </div>
                        </div>
                        <div ng-if='showContractForm'>
                            <form>
                                <div>
                                    <label for="rate">Rate (%)</label>
                                    <input type="number" id="rate" class="form-control" data-ng-model="newContract.rate" />
                                </div>
                                <div>
                                    <label for="dateEnd">Expared Date</label>
                                    <input type="date" name="date" min="2011-03-15" max="2020-03-14" id="dateEnd" class="form-control" data-ng-model="newContract.dateEnd" />
                                </div>
                                <div>
                                    <label for="name">Pawn Item</label>
                                    <input type="text" id="name" class="form-control" data-ng-model="newContract.pawnItemName" />
                                </div>
                                <div>
                                    <label for="description">Pawn Item Description</label>
                                    <textarea name="textArea1" rows="3" cols="20" id="description" class="form-control"
                                              data-ng-model="newContract.pawnItemDescription"></textarea>
                                </div>
                                <div>
                                    <label for="buyPrice">Price for client</label>
                                    <input type="number" id="buyPrice" class="form-control" data-ng-model="newContract.buyPrice" />
                                </div>
                                <div>
                                    <label for="sellPrice">Price for PawnShop</label>
                                    <input type="number" id="sellPrice" class="form-control" data-ng-model="newContract.sellPrice" />
                                </div>
                                <div>
                                    <button data-ng-click="saveNewContractInfo()" class="pure-button pure-button-primary">Save</button>
                                    <button data-ng-click="clearNewContractForm()" class="pure-button pure-button-primary">Cancel</button>
                                </div>
                            </form>
                        </div>
                        <div ng-show="showContractDiv">
                            <table class="table table-striped table-bordered table-hover">
                                <tr>
                                    <th>Rate (%)</th>
                                    <th>Start Date</th>
                                    <th>Expared Date</th>
                                    <th></th>
                                </tr>
                                <tr ng-repeat="contract in contracts">
                                    <td>{{contract.percents}}</td>
                                    <td ng-bind="contract.dateStart | date: 'MM/dd/yyyy'"></td>
                                    <td ng-bind="contract.dateEnd | date: 'MM/dd/yyyy'"></td>
                                    <td>
                                        <button class="btn btn-primary btn-sm clientbutton" ng-click="closeContract(contract.contractId)">Close</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div ng-show="notFoundContractDiv">
                            <p>There are no contracts for this client</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="Additional" class="tab-pane fade">
            <div class="col-lg-7 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-12">
                <div>
                    <p>
                        A contract is a voluntary arrangement between two or more parties that is enforceable at law as a binding legal agreement. Contract is a branch of the law of obligations in jurisdictions of the civil law tradition. A contract arises when the parties agree that there is an agreement.
                        A contract is a voluntary arrangement between two or more parties that is enforceable at law as a binding legal agreement. Contract is a branch of the law of obligations in jurisdictions of the civil law tradition. A contract arises when the parties agree that there is an agreement.
                        A contract is a voluntary arrangement between two or more parties that is enforceable at law as a binding legal agreement. Contract is a branch of the law of obligations in jurisdictions of the civil law tradition. A contract arises when the parties agree that there is an agreement.
                    </p>
                </div>
            </div>
        </div>
        <div id="SoldItems" class="tab-pane fade">
            <div class="col-lg-7 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-12">
                <div ng-controller="itemController" ng-init="getItems()">
                    <h3>Items for Sale</h3>
                    <table class="table table-striped table-bordered table-hover">
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                        </tr>
                        <tr ng-repeat="item in items">
                            <td>{{item.name}}</td>
                           
                            <td>
                                {{item.sellPrice}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="Report" class="tab-pane fade">
            <div class="col-lg-7 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-12">
                <div>
                    <p>
                        Employee reports page
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>