﻿@section Scripts {
    <environment names="Development">
        <script src="~/js/controllers/clientController.js"></script>
        <script src="~/js/Services/clientService.js"></script>
    </environment>
}
@using Microsoft.AspNetCore.Identity
@using Gillie.PawnShop.Authorization.Entities.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="row" ng-controller="clientController" ng-init="setClientData()">
        <h1>Client Page</h1>
        <p>In this page you can find your personal information and information about your contracts</p>
        <div>
            <p>{{clientInfo.name}}</p>
            <p>{{clientInfo.surname}}</p>
            <p>{{clientInfo.email}}</p>
            <p>{{clientInfo.phoneNumber}}</p>
        </div>
    </div>
}
else
{
    <div>Not found</div>
}