﻿@section Scripts{
    <environment names="Development">
        <script src="~/js/controllers/bonusController.js"></script>
        <script src="~/js/services/bonusService.js"></script>
    </environment>
}
<div class="row">
    <h1>Our Bonus Program</h1>
    <div ng-controller="bonusController">
        <div ng-repeat="currentbonus in bonus">
            <div class="col-md-12">
                <h3>{{currentbonus.name}} </h3>
                <h4 ng-bind="currentbonus.historyRecordDate | date:'MM/dd/yyyy'"></h4>
                <p>{{currentbonus.description}}</p>
            </div>
        </div>
    </div>
</div>
