﻿@section Scripts{
    <environment names="Development">
        <script src="~/js/controllers/branchController.js"></script>
        <script src="~/js/services/branchService.js"></script>
    </environment>
}
@section Styles
{
    <style>
    .phone {
        margin: 20px;
     }
</style>
}
<div class="row">
    <h1>Our Branches</h1>
    <div ng-controller="branchController">
        <div ng-repeat="branch in branches">
            <div class="col-md-6">
                <h3>{{branch.name}} </h3>
                <p><span class="glyphicon glyphicon-earphone"></span><span class="phone">{{branch.phoneNumber}}</span></p>
                @*<p>{{branch.hours}}</p>*@
            </div>
        </div>
    </div>
</div>
