﻿@section Scripts{
    <environment names="Development">
        <script src="~/js/controllers/newsController.js"></script>
        <script src="~/js/services/newsService.js"></script>
    </environment>
}
<div class="row">
    <div class="col-md-6">
        <h2>General iformation about our company</h2>
        <p>
            (wiki insert) A pawn shop (also called a pawnshop or pawnbroker) is a shop or business who loans money to people who bring in valuable items which they leave with the pawnbroker. Examples of items that a person may leave are jewellery, gold, watches, cameras, musical instruments, televisions or computers.
        </p>
        <p>
            (wiki insert)The valuables that people leave are called the "collateral". The person can get their valuable item back from the pawnbroker if the pay back the money they were loaned and pay interest on the loan. Interest is like a fee for getting to use someone else's money for a set time period. If the person who has borrowed money from the pawnbroker does not repay the loan and interest within an agreed-upon time limit, the pawnbroker can sell the valuable item to another customer to get back the money they loaned.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Company Mission</h2>
        <ul>
            <li>At Our Pawn Shop we promote the dignity and self-worth of all of our residents, and strive to give them excellent quality of service, as defined by the residents, individually and as a group. To that end, we encourage resident group decision-making through the our company, access to all areas of their homes e, and self-determination in activities, socialization. Our company is not just a loangiving facility—it is their  community.</li>
            <li>We also value the time, skills, and expert opinions of our staff. We are committed to providing fair and living wages, reasonable, structured work schedules, and clear duties and spheres of rights and responsibilities for each team member. We do not expect staff to do work for which they are not trained; we do expect them to share their suggestions for improving any aspect of Our Pawn Shop working operations. We aim to provide jobs which not only provide sustenance for our workers’ families, but also allow them a space to make a difference in the world around them, through caring and expert assistance to our community’s most vulnerable members. </li>
            <li>At our company we have a mission to be the city most respected loan service brand. To do this, we have established a culture that supports our team members, so they can provide exceptional service to our customers.</li>
        </ul>
    </div>
    <div class="col-md-12">
        <h2>News</h2>
    </div>
    <div ng-controller="newsController">
        <div ng-repeat="singlenews in news">
            <div class="col-md-12">
                <h3>{{singlenews.name}} </h3>
                <h4 ng-bind="singlenews.historyRecordDate | date:'MM/dd/yyyy'"></h4>
                <p>{{singlenews.description}}</p>
            </div>
        </div>
    </div>
</div>
