﻿@section Scripts{
    <environment names="Development">
        <script src="~/js/controllers/promoController.js"></script>
        <script src="~/js/services/promoService.js"></script>
    </environment>
}
<div class="row">
    <h1>Our Promotions</h1>
    <div ng-controller="promoController" ng-init="getPromo()">
        <div ng-repeat="promotion in promo">
            <div class="col-md-12">
                <h3>{{promotion.name}} </h3>
                <h4 ng-bind="promotion.historyRecordDate | date:'MM/dd/yyyy'"></h4>
                <p>{{promotion.description}}</p>
            </div>
        </div>
    </div>
</div>