﻿@section Scripts{
    <environment names="Development">
         <script src="~/js/controllers/adminController.js"></script>
         <script src="~/js/services/adminService.js"></script>
    </environment>
}
<div class="row">
    <h1>feedback</h1>
    <div ng-controller="adminController">
        <div ng-repeat="feedback in feedbacks">
            <div class="col-md-12">
                <h3>{{feedback.name}} </h3>
                <h4 ng-bind="feedback.historyRecordDate | date:'MM/dd/yyyy'"></h4>
                <p>{{feedback.description}}</p>
            </div>
        </div>
    </div>
</div>