﻿@section Scripts{
    <environment names="Development">
        <script src="~/js/controllers/promoController.js"></script>
        <script src="~/js/services/promoService.js"></script>
    </environment>
}
<div class="row">
    <h1>Our Services</h1>
    <div ng-controller="promoController" class="col-md-12" ng-init="getServices()"> 
        <ul ng-repeat="service in services">
            <li>{{service.description}}</li>
        </ul>
    </div>
</div>